.header {
  grid-column: span 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // align-items: flex-start;
  padding: 1em 3em;
  &__logo {
    color: #fff;
    font-size: 3.7em;
    text-decoration: none;
  }
  &__search {
    font-size: 2.2em;
    border: none;
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    &:focus {
      outline: none;
      box-shadow: 0em 0em 0.4em rgb(255, 255, 255);
    }
    &:hover {
      box-shadow: 0em 0em 0.4em rgb(255, 255, 255);
      transition: 0.5s;
    }
  }
}